<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Dynamically generated initial page configuration -->
    <servlet>
        <servlet-name>AppWebServlet</servlet-name>
        <servlet-class>uk.ac.ebi.pride.widgets.servlets.AppWebServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppWebServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

</web-app>
