<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- General Servlet Context Parameters -->
    <context-param>
        <param-name>proxyHost</param-name>
        <param-value>wwwdev.ebi.ac.uk</param-value>
    </context-param>
    <context-param>
        <param-name>proxyPort</param-name>
        <param-value>80</param-value>
    </context-param>
    <context-param>
        <param-name>proxyPath</param-name>
        <param-value>/pride</param-value>
    </context-param>
    <context-param>
        <param-name>maxFileUploadSize</param-name>
        <param-value></param-value>
    </context-param>

    <!-- RESTfulWS PROXY Configuration -->
    <servlet>
        <servlet-name>ProxyServlet</servlet-name>
        <servlet-class>uk.ac.ebi.pride.widgets.servlets.ProxyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>/pride/*</url-pattern>
    </servlet-mapping>

    <!-- Dynamically generated initial page configuration -->
    <servlet>
        <servlet-name>AppWebServlet</servlet-name>
        <servlet-class>uk.ac.ebi.pride.widgets.servlets.AppWebServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppWebServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

</web-app>
